/*=============================================
TOP
=============================================*/

#top ul{
	padding-top:8px;
}

#top ul li{
	display:inline;
	line-height:30px;
	margin:0px 5px;
	color:white;
}

.social ul li a i{
	font-size:18px;
	margin:0 1px;
}

.registro ul{
	text-align: right;
	font-size:12px;
}

/*=============================================
HEADER
=============================================*/

/* Para bajar el recuadro de categorias */
header #btnCategorias{
	margin:20px 0;
}
header #btnCategorias p{
	line-height:40px;
	margin-bottom:0px;
}
/* Ajustar el icono de los libros */
header #btnCategorias p span i{
	line-height:40px;
	margin-bottom:0px;
	cursor: pointer; 
}

/* Margenes para el Buscador */
header #buscador{
	margin:20px 0;
}

/* Para que el cuadro de busqueda se iguale a de Categoria. */
header #buscador input{
	padding:19px;
	border-radius:0;
}
/* Ajustar el cuadro de lupa */
header #buscador button{
	padding:12px;
	border:1px solid silver;
	border-radius:0;
}

/* Ajustando el carrito */
header #carrito{
	margin:20px 0;
}
/* Agrandando el boton */
header #carrito button{
	padding:12px 18px; 
	border:1px solid silver;
	border-radius:0;
}
/* Alargando el texto de Carrito, lado derecho */
header #carrito p{
	padding:2px;
	padding-left:60px;
	border:1px solid #aaa;
	font-size:12px;
}

/* Ajustando las categorias */
/* Subir un poco, formando columna por cada categoria. */
header #categorias{
	display:block; 
	margin-top:-10px;
	position: relative;
	padding-bottom:20px;
}
/* Ajustando margenes de las h4 */
header #categorias h4{
	margin-top:20px;
	margin-bottom:-10px;
}
/* La linea de los encabezados de categorias (h4) */
header #categorias hr{
	border:1px solid rgba(255,255,255,.3);
}


/* Ajustando el Header con sus logos, textos a los diferentes tamaños. */
/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/
@media (min-width:1200px)
{
	/* Ajustando el logo*/
	header #logotipo img{
	padding:20px 60px;
	padding-left:0px;
	}
	/* Reduciendo un poco la imagen de Carrito de Compras, se hace para la izquierda.	 */
	header #carrito{
			padding-left:100px;
	}
}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px)
{
	/* Ajustando el logo, se ajusta estos dos con adicional "left" para no utilizar los cuatro valores.*/
	header #logotipo img{
	padding:25px 60px;
	padding-left:0px;	
	}
}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px)
{
	/* Ajustando el logo*/
	header #logotipo img{
	padding:30px 0px;
	}
}


/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px)
{
	/* Ajustando el logo*/
	header #logotipo img{
	padding:30px;
	padding-bottom:20px;
	}
}
